<!DOCTYPE html>
<html>
<%- partial('_partials/head') %>
<body>
  <!--<%- partial('_partials/page-header', null, {cache: !config.relative_link}) %>-->
  <%- partial('_partials/page-header') %>
  <%- body %>
  <%- partial('_partials/scripts') %>
</body>
</html>
