<head>
  <meta charset="utf-8">
  <%
  var title = page.title;
  if (is_archive()){
    // title = 'All';
  } else if (is_category()){
    title = page.category;
  } else if (is_tag()){
    title = 'Tagged ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> — <% } %><%= config.title %></title>
  <meta name="description" content="<%= config.description %>">
  <meta name="author" content="<%= config.author %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%- css('css/all') %>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
