<header class="page-header">
  <nav class="nav">
    <ul class="nav-list">
      <!-- <li class="nav-item">
        <a href="<%= config.root %>" class="nav-link"><%= __('Work') %></a>
      </li> -->
      <li class="nav-item">
        <a href="<%= config.root %>" class="nav-link"><%= __('Title') %></a>
      </li>
      <!-- <li class="nav-item">
        <a href="<%= config.root %>" class="nav-link"><%= __('About') %></a>
      </li> -->
    </ul>
  </nav>
</header>
