<footer class="page-footer">
  <nav class="nav">
    <ul class="nav-list">
      <% if (is_post() && !is_archive()) { %>
      <li class="nav-item nav-item--left">
        <a href="<%= config.root %>" class="nav-link backNav"><%= __('Back') %></a>
      </li>
      <% } %>
      <li class="nav-item">
        <a href="<%= config.root %>" class="nav-link nav-link--title"><%= __('Title') %></a>
      </li>
      <li class="nav-item nav-item--right">
        <a href="<%= config.root + 'about' %>" class="nav-link"><%= __('About') %></a>
      </li>
    </ul>
  </nav>
</footer>
