<header class="page-header">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="<%= config.root %>" class="nav-link">Archive temp <%= __('Home') %></a>
      </li>
      <li class="nav-item">
        <a href="<%= config.root %>" class="nav-link nav-link--title"><%= __('Title') %></a>
      </li>
      <li class="nav-item">
        <a href="<%= config.root + 'about' %>" class="nav-link"><%= __('About') %></a>
      </li>
    </ul>
  </nav>
</header>
