<article class="post post--preview<% if (!post.case_study) { %> post--preview--compact<% } %>" data-post-id="<%= post._id %>">
  <a href="<%- url_for(post.path) %>">
    <img class="post-thumbnail" src="<%= post.thumbnail %>">
    <section class="post-text">
        <!--<%- partial('post-date', {date_format: config.date_format}) %>-->
        <h4 class="post-title"><%= post.title %></h4>
        <p><%= post.description %></p>
    </section>
  </a>
</article>
