<article class="projectPreview <% if (project.vertical_layout) { %>projectPreview--vertical<% } else { %>projectPreview--horizontal<% } %>" data-project-id="<%= project._id %>">
  <a class="projectPreview-link" href="<%- url_for(project.path) %>">
    <% if (project.thumbnail) { %><figure class="projectPreview-thumbnail"><img src="<%- url_for(project.path) + project.thumbnail %>"></figure><% } %><section class="projectPreview-text">
      <% if (project.title) { %>
      <h2 class="projectPreview-title"><%= project.title %></h2>
      <% } %>
      <% if (project.description) { %>
      <p class="projectPreview-description"><%= project.description %></p>
      <% } %>
      <ul class="projectPreview-meta">
        <% if (project.date) { %>
        <li class="projectPreview-date">
          <%- partial('project-date', {date_format: config.date_format, project: project}) %>
        </li>
        <% } %>
        <% if (project.reading_time) { %>
        <li class="projectPreview-readingTime"><%= project.reading_time %> min read</li>
        <% } %>
      </ul>
    </section>
  </a>
</article>
