<article class="project" data-project-id="<%= project._id %>">
  <header class="project-header container--narrow">
    <!--<% if (project.title) { %>
    <h1 class="project-title"><%= project.title %></h1>
    <% } %>-->
  </header>
  <section class="project-content">
    <%- project.content %>
  </section>
  <!--<footer class="project-footer">
    <%- partial('project-tag') %>
  </footer>-->
  <span id="projectColor"><% if (project.color) { %><%= project.color %><% } else { %>inherit<% } %></span>
</article>
