<article class="projectPreview" data-project-title="<%= project.title %>">
  <% if (project.thumbnail && project.vertical_layout) { %>
  <figure class="projectPreview-thumbnail projectPreview-thumbnail--wide">
    <div class="projectPreview-container--wide">
      <a class="projectPreview-link" href="<%- url_for(project.path) %>">
        <img src="<%- url_for(project.path) + project.thumbnail %>">
      </a>
    </div>
  </figure>
  <% } %>
  <div class="projectPreview-container">
    <% if (project.thumbnail && !project.vertical_layout) { %><a class="projectPreview-link" href="<%- url_for(project.path) %>"><figure class="projectPreview-thumbnail"><img src="<%- url_for(project.path) + project.thumbnail %>"></figure></a><% } %><a class="projectPreview-link" href="<%- url_for(project.path) %>"><section class="projectPreview-text">
      <h2 class="projectPreview-title"><%= project.title %></h2>
      <% if (project.description) { %>
      <p class="projectPreview-description"><%= project.description %></p>
      <% } %>
      <ul class="projectPreview-meta">
        <li class="projectPreview-date"><%- partial('project-date', {date_format: config.date_format, project: project}) %></li><li class="projectPreview-readingTime"><%= project.reading_time %> min read</li>
      </ul>
    </section></a>
  </div>
</article>
